<md-bottom-sheet class="md-list md-has-header">

    <md-subheader>
        Contact: <span class="name">{{ vm.user.name }}</span>
    </md-subheader>


    <md-list layout-gt-sm="row" layout-align="space-between">
      <md-list-item class="md-2-line" ng-repeat="item in vm.items">
      <md-button ng-click='vm.contactUser()'>
          <md-icon md-svg-icon="{{item.icon_url}}"></md-icon>
          {{item.name}}
      </md-button>
        
      </md-list-item>
    </md-list>





<!-- 
    <md-list>
      <md-list-item ng-repeat="item in vm.items">
        <md-button ng-click="vm.contactUser(item)">
            <md-icon md-svg-icon="{{ item.icon_url }}"></md-icon>
            {{item.name}}
        </md-button>
      </md-list-item>
    </md-list> -->

</md-bottom-sheet>
